html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
  }
  
  :root {
    --navbar-height: 60px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    width: 100%;
  }
  
  section {
    height: 100vh;
    
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: #fff;
    box-shadow: 0px 0px 15px -3px #00000042;
  }
  
  .navbar__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    justify-content: space-evenly;
  }
  
  .navbar__logo {
    padding-left: .5rem;
  }
  
  .navbar__link {
    display: flex;
    align-items: center;
    gap: .25rem;
    text-decoration: none;
    color: #adadad;
  }
  
  .navbar__list :hover{
    color:#286f6c
  }

  .navbar__icon {
    font-size: 1.2rem;
  }
  
  .navbar__name {
    color: #000;
  }
  
  .navbar__menu {
    /* width: 100%; */
    background-color: #fff;
  }
  
  .navbar__list {
    display: flex;
    gap: .5rem;
  }
  
  .navbar__button {
    padding-right: .5rem;
  }
  
  .btn--close,
  .btn--open {
    cursor: pointer;
  }
  
  /* hasta los 500, 0 - 500 */
  @media (max-width: 400px) {
    .navbar__menu {
      position: absolute;
      top: -400%;
      width: 100%;
      background-color: #fff;
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 0px 15px -3px #00000042;
      transition: all .3s ease;
    }
  
    .navbar__menu.active {
      top: 0;
    }
  
    .navbar__list {
      margin: 2rem 0 1.5rem;
      flex-direction: column;
      align-items: center;
    }
  
    .btn--close {
      color: #aaa;
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
  
  .wrapper {
    margin-top: var(--navbar-height);
  }
  
  /* désde 500px, 500 ... */
  @media (min-width: 400px) {
    .btn--close {
      display: none;
    }
  
    .navbar__list {
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  
    .navbar__button {
      display: none;
    }
  }

  /* vista mobile */
  @media (max-width: 400px) {
  .container_home{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0px;
    padding: 10px;
    height: auto;
  }

  .home__name{
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1;
  }

  .home__title{
    font-size: 46px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    line-height: 1;
  }

  .container_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .container_icons a{
    text-decoration: none;
    color: #f26440;
    font-size: 46px;
  }

  .foto{
    width: 300px;
    height: 250px;
    padding: 0;
  }
}
/* vista destock */
@media (min-width: 401px) {
  .container_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: auto;
    max-width: 1024px;
    margin: 0 auto;
  }

  .viewdestock{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0px;
    
    padding: 10px;
  }

  .home__name{
    font-size: 46px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
    
  }

  .home__title{
    font-size: 60px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    
  }

  .container_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .container_icons a{
    text-decoration: none;
    color: #f26440;
    font-size: 46px;
  }

  .foto{
    width: auto;
    height: auto;
    padding: 0; 
    
  }
}

/* about */

/* vista mobile */
@media (max-width: 401px) {
  .conteiner_about{
    width: 100%;
    height: auto;
  }
  
  .tittle_about{
    margin: 2rem 1rem;
    font-size: 32px;
    color: #286f6c;
  }
  
  .content_about{
    margin: 2rem 1rem;
    color: #adadad;
  }
  }
/* vista destock */
@media (min-width: 401px) {
.conteiner_about{
  width: 100%;
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
}

.tittle_about{
  margin: 1rem 8rem;
  font-size: 32px;
  color: #286f6c;
  
}

.content_about{
  margin: 1.5rem 8rem;
  color: #adadad;
}
}
/* css habilidades */

/* vista mobile */
@media (max-width: 400px) {
  .container_habilidades{
    background-image: url(../assets/img/globe.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: auto;
  }
  
  .habilidades__title{
    display: flex;
    justify-content: start;
    margin: 3rem 1rem 1rem 1rem;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
  
  }
  
  .boxes_habilidades{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    margin-left: 1rem;
  }
  
  .box_habilidades{
    background-color: #fef2f2;
    width: 250px;
    height: 300px;
  }
}

/* vista destock */
@media (min-width: 401px) {
.container_habilidades{
  background-image: url(../assets/img/globe.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 450px;
  max-width: 1024px;
  margin: 0 auto;
}

.habilidades__title{
  display: flex;
  justify-content: start;
  margin: 3rem 4rem 1rem 4rem;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;

}

.boxes_habilidades{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-left: 4rem;
}

.box_habilidades{
  background-color: #fef2f2;
  width: 350px;
  height: 300px;
  padding: 20px;
  text-align: start;
}
}

.box_habilidades h2{
  margin: 0;
}

.box_habilidades h2 img{
  width: auto;
}

/* experiencia */
/* vista mobile */
@media (max-width: 400px) {
  .container_experiencia{
    height: auto;
  }
  .experiencia__title{
    color: #286f6c;
    font-size: 32px;
    margin-left: 1rem;
  }
  
  .boxes_experiencia{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 1rem;
    
  }
  
  .box_experiencia{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .box_experiencia img{
    width: 50px;
    height: 50px;
  }
  }
/* vista destock */
@media (min-width: 401px) {
.container_experiencia{
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
}
.experiencia__title{
  color: #286f6c;
  font-size: 32px;
  margin-left: 4rem;
}

.boxes_experiencia{
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
  
}

.box_experiencia{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.box_experiencia img{
  width: 150px;
  height: 150px;
}
}

/* portafolio */
/* vista mobile */
@media (max-width: 400px) {
.container_portafolio{
  background-color: #286f6c;
  /* clip-path: inset(15% 0 15% 0); */
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  height: auto;
}

.img_uno{
  
  width: 600px;
  height: 400px;
}
.portafolio_contenido{
  grid-column: 2/3;
  grid-row: 1/2;
}

.portafolio__title{
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0px;
}

.portafolio_parrafo{
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0.25rem;
}
.img_dos{
  grid-column: 2/3;
  grid-row: 2/5;
  width: 600px;
  height: 400px;
}
}

/* vista destock */
@media (min-width: 401px) {
.container_portafolio{
  background-color: #286f6c;
  /* clip-path: inset(15% 0 15% 0); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 0rem 3rem;
  column-gap: 3rem;
  max-width: 1024px;
  margin: 0 auto;

}

.img_uno{
  grid-column: 1/2;
  grid-row: 1/4;
  width: 600px;
  height: 400px;
}
.portafolio_contenido{
  grid-column: 2/3;
  grid-row: 1/2;
}

.portafolio__title{
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0px;
}

.portafolio_parrafo{
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0.25rem;
}
.img_dos{
  grid-column: 2/3;
  grid-row: 2/5;
  width: 600px;
  height: auto;
}
}

/* contacto */
/* vista mobile */
@media (max-width: 400px) {
  .container_contact{
    height: auto;
  }
  
  .contacto__title{
    font-size: 40px;
    font-weight: 600;
    color: #286f6c;
    margin-left: 1rem;
  }
  
  .boxes_contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container_contact a{
    text-decoration: none;
  }
  
  .container_contact i{
    font-size: 80px;
    color: #f26440;
    text-align: center;
    padding: 0 4rem;
  }
  
  .container_contact h3{
    font-size: 32px;
    color:#286f6c;
    text-align: center;
    margin: 0px;
  }
  
  .container_contact p{
    font-size: 24;
    color: #adadad;
    text-align: center;
    margin: 2rem;
  }
  }
/* vista destock */
@media (min-width: 401px) {
.container_contact{
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
}

.contacto__title{
  font-size: 40px;
  font-weight: 600;
  color: #286f6c;
  margin-left: 4rem;
}

.boxes_contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;

}

.container_contact a{
  text-decoration: none;
}

.container_contact i{
  font-size: 80px;
  color: #f26440;
  text-align: center;
  padding: 0 4rem;
}

.container_contact h3{
  font-size: 32px;
  color:#286f6c;
  text-align: center;
  margin: 0px;
}

.container_contact p{
  font-size: 24;
  color: #adadad;
  text-align: center;
  margin: 2rem;
}
}

.container_Footer{
  background-color: #286f6c;
  height: auto;
}

.container_Footer h2{
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  
}

.container_Footer p{
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
}